<a href="https://colab.research.google.com/github/Alexandremsn/demand/blob/main/cff_test_reduce%20P2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
list_best_sales = [502331, 314384, 364606, 265559, 559870,1036689,
                   273528 ,564533 ,261052 , 414353 , 1084881 , 839363 , 850333 , 414750 ,
                  847863 , 581078 , 1047679 , 258396 , 759893 , 841842]

obtivemos esta listagem da consulta do mysql, assim podemos filtrar o arquivo de teste com os mesmos produtos

In [ ]:
test = pd.read_csv('test.csv')

In [ ]:
test_reduce = test[test['item_nbr'].isin(list_best_sales)]
test_reduce.to_csv('test_reduce.csv' , index=False)

Assim filtramos os produtos e salvamos o dataset para uso na próxima etapa, optei por utilizar mais de um notebook e ir exportando ao longo do processo, por dois motivos, primeiro para salvar o processo e segundo, utilizei duas máquinas neste projeto, uma delas offline assim podia analisar os dados e salvar o progresso para continuar no dia seguinte

In [ ]:
test_reduce.head()

            id        date  store_nbr  item_nbr  onpromotion
210  125497250  2017-08-16          1    258396        False
216  125497256  2017-08-16          1    261052        False
236  125497276  2017-08-16          1    265559        False
254  125497294  2017-08-16          1    273528        False
298  125497338  2017-08-16          1    314384         True

In [ ]:
train = pd.read_csv('train_selected2.csv',sep='\t',header=None, 
                 index_col=False)
train.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

     0           1   2       3  4    5
0   82  2013-01-01  25  258396  5  NaN
1   84  2013-01-01  25  261052  1  NaN
2   92  2013-01-01  25  265559  2  NaN
3   98  2013-01-01  25  273528  2  NaN
4  116  2013-01-01  25  314384  8  NaN

o arquivo gerado pelo mysql estava umpouco desformatado, assim realizamos algumas correções

In [ ]:
train.rename({0:'id',1:'date',2:'store_nbr',3:'item_nbr', 4:'unit_sales',5:'onpromotion' },axis=1, inplace=True)

In [ ]:
train.onpromotion.fillna(False, inplace=True)

renomeamos as colunas para sua nomenclatura original e preenchemos os valores vazios de onpromotion com false.

In [ ]:
train.head()

    id        date  store_nbr  item_nbr  unit_sales  onpromotion
0   82  2013-01-01         25    258396           5        False
1   84  2013-01-01         25    261052           1        False
2   92  2013-01-01         25    265559           2        False
3   98  2013-01-01         25    273528           2        False
4  116  2013-01-01         25    314384           8        False

agora está da mesma forma que as utras tabelas, e finalmente salvamos este dataset em .csv

In [ ]:
train.to_csv('train_selected_final.csv', index=False)