<a href="https://colab.research.google.com/github/Alexandremsn/demand/blob/main/cff_preprocessing%20P3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
traindf = pd.read_csv('train_selected_final.csv')
testdf = pd.read_csv('test_oil.csv')
holidaysdf = pd.read_csv('holidays_ok.csv')
itemsdf = pd.read_csv('items.csv')
sampledf = pd.read_csv('sample_submission.csv')
transactionsdf = pd.read_csv('transactions.csv')
oildf = pd.read_csv('oil_fixed.csv')

finalizando a etapa de pr√© processamento dos dados, agora vamos contruir o dataset final que analizaremos e depois construiremos um modelo, primeiro importamos os arquivos

In [ ]:
sampledf.head()

          id  unit_sales
0  125497040           0
1  125497041           0
2  125497042           0
3  125497043           0
4  125497044           0

In [ ]:
transactionsdf.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

In [ ]:
traindf.head()

    id        date  store_nbr  item_nbr  unit_sales  onpromotion
0   82  2013-01-01         25    258396           5        False
1   84  2013-01-01         25    261052           1        False
2   92  2013-01-01         25    265559           2        False
3   98  2013-01-01         25    273528           2        False
4  116  2013-01-01         25    314384           8        False

In [ ]:
traindf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1634358 entries, 0 to 1634357
Data columns (total 6 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   id           1634358 non-null  int64
 1   date         1634358 non-null  object
 2   store_nbr    1634358 non-null  int64
 3   item_nbr     1634358 non-null  int64
 4   unit_sales   1634358 non-null  int64
 5   onpromotion  1634358 non-null  bool
dtypes: bool(1), int64(4), object(1)
memory usage: 63.9+ MB

In [ ]:
traindf.date = pd.to_datetime(traindf.date, format='%Y-%m-%d')
transactionsdf.date = pd.to_datetime(transactionsdf.date, format='%Y-%m-%d')

In [ ]:

oildf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1218 non-null   object
 1   dcoilwtico  1218 non-null   float64
dtypes: float64(1), object(1)
memory usage: 19.2+ KB

tranformamos o tipo da coluna date de todos os dataframes,

In [ ]:
oildf.date = pd.to_datetime(oildf.date, format='%Y-%m-%d')

In [ ]:
testdf.date = pd.to_datetime(testdf.date, format='%Y-%m-%d')

In [ ]:
holidaysdf.date = pd.to_datetime(holidaysdf.date, format='%Y-%m-%d')

vamos adicionar a coluna pre√ßo do petr√≥leo nos datasets de treino e transactions

In [ ]:
traindf = traindf.merge(oildf,how='left', on='date')

In [ ]:
transactionsdf = transactionsdf.merge(oildf,how='left', on='date')

agora vamos criar uma vari√°vel de dia da semana

In [ ]:
traindf['day_name'] = traindf['date'].apply(lambda x: x.day_name())
testdf['day_name']  = testdf['date'].apply(lambda x: x.day_name())
transactionsdf['day_name']  = transactionsdf['date'].apply(lambda x: x.day_name())

In [ ]:
traindf.day_name.value_counts()

Saturday     236377
Monday       234620
Tuesday      234164
Sunday       233978
Wednesday    231974
Friday       231913
Thursday     231332
Name: day_name, dtype: int64

In [ ]:
traindf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1634358 entries, 0 to 1634357
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   id           1634358 non-null  int64
 1   date         1634358 non-null  datetime64[ns]
 2   store_nbr    1634358 non-null  int64
 3   item_nbr     1634358 non-null  int64
 4   unit_sales   1634358 non-null  int64
 5   onpromotion  1634358 non-null  bool
 6   dcoilwtico   1164003 non-null  float64
 7   day_name     1634358 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 101.3+ MB

In [ ]:
traindf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1634358 entries, 0 to 1634357
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   id           1634358 non-null  int64
 1   date         1634358 non-null  datetime64[ns]
 2   store_nbr    1634358 non-null  int64
 3   item_nbr     1634358 non-null  int64
 4   unit_sales   1634358 non-null  int64
 5   onpromotion  1634358 non-null  bool
 6   dcoilwtico   1164003 non-null  float64
 7   day_name     1634358 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 101.3+ MB

verificamos a presen√ßa de valores nulos na coluna com pre√ßo do petr√≥leo, isso se deve ao fato de os valores de mercado serem cotados em dias √∫teis, assim vamos criar uma fun√ß√£o para repetir o valor de sexta-feira para o final de semana.

In [ ]:
weekend_list = ['Saturday', 'Sunday']
for i in range(traindf.shape[0]):
  if traindf.day_name.iloc[i] == 'Friday':
    friday_price = traindf.dcoilwtico.iloc[i]
  elif traindf.day_name.iloc[i] in weekend_list:
    traindf.dcoilwtico.iloc[i] = friday_price

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
for i in range(transactionsdf.shape[0]):
  if transactionsdf.day_name.iloc[i] == 'Friday':
    friday_price = transactionsdf.dcoilwtico.iloc[i]
  elif transactionsdf.day_name.iloc[i] in weekend_list:
    transactionsdf.dcoilwtico.iloc[i] = friday_price

In [ ]:
traindf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1634358 entries, 0 to 1634357
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   id           1634358 non-null  int64
 1   date         1634358 non-null  datetime64[ns]
 2   store_nbr    1634358 non-null  int64
 3   item_nbr     1634358 non-null  int64
 4   unit_sales   1634358 non-null  int64
 5   onpromotion  1634358 non-null  bool
 6   dcoilwtico   1634358 non-null  float64
 7   day_name     1634358 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 101.3+ MB

In [ ]:
holidaysdf.head()

,date,type,locale,locale_name,description,stores_affected,classification,major_holiday
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,"[52, 53]",is_holiday,NaN
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,"[12, 13]",is_holiday,NaN
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,"[37, 39, 42]",is_holiday,NaN
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,[36],is_holiday,NaN
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,[14],is_holiday,NaN

In [ ]:
testdf.head()

,id,date,store_nbr,item_nbr,onpromotion,oil_price,day_name
0,125497250,2017-08-16,1,258396,False,48.151379,Wednesday
1,125497256,2017-08-16,1,261052,False,48.151379,Wednesday
2,125497276,2017-08-16,1,265559,False,48.151379,Wednesday
3,125497294,2017-08-16,1,273528,False,48.151379,Wednesday
4,125497338,2017-08-16,1,314384,True,48.151379,Wednesday

In [ ]:
holidaysdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             333 non-null    datetime64[ns]
 1   type             333 non-null    object
 2   locale           333 non-null    object
 3   locale_name      333 non-null    object
 4   description      333 non-null    object
 5   stores_affected  333 non-null    object
 6   classification   333 non-null    object
 7   major_holiday    44 non-null     object
dtypes: datetime64[ns](1), object(7)
memory usage: 20.9+ KB

In [ ]:
holidaysdf.major_holiday.fillna('ordinary', inplace=True)

vamos preencher os valores null da major holiday com o string ordinary

In [ ]:
testdf.shape[0]

17280

In [ ]:
testdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17280 entries, 0 to 17279
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           17280 non-null  int64
 1   date         17280 non-null  datetime64[ns]
 2   store_nbr    17280 non-null  int64
 3   item_nbr     17280 non-null  int64
 4   onpromotion  17280 non-null  bool
 5   oil_price    17280 non-null  float64
 6   day_name     17280 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 827.0+ KB

In [ ]:
holidaysdf.iloc[315]

date                                             2017-10-09 00:00:00
type                                                         Holiday
locale                                                      National
locale_name                                                  Ecuador
description                               Independencia de Guayaquil
stores_affected    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
classification                                            is_holiday
major_holiday                                               ordinary
Name: 315, dtype: object

In [ ]:
traindf.date.iloc[83920]

Timestamp('2013-04-04 00:00:00')

In [ ]:
indexof = traindf.date[traindf.date == holidaysdf['date'].iloc[50]].index.to_list()
indexof

[116595,
 116596,
 116597,
 116598,
 116599,
 116600,
 116601,
 116602,
 116603,
 116604,
 116605,
 116606,
 116607,
 116608,
 116609,
 116610,
 116611,
 116612,
 116613,
 116614,
 116615,
 116616,
 116617,
 116618,
 116619,
 116620,
 116621,
 116622,
 116623,
 116624,
 116625,
 116626,
 116627,
 116628,
 116629,
 116630,
 116631,
 116632,
 116633,
 116634,
 116635,
 116636,
 116637,
 116638,
 116639,
 116640,
 116641,
 116642,
 116643,
 116644,
 116645,
 116646,
 116647,
 116648,
 116649,
 116650,
 116651,
 116652,
 116653,
 116654,
 116655,
 116656,
 116657,
 116658,
 116659,
 116660,
 116661,
 116662,
 116663,
 116664,
 116665,
 116666,
 116667,
 116668,
 116669,
 116670,
 116671,
 116672,
 116673,
 116674,
 116675,
 116676,
 116677,
 116678,
 116679,
 116680,
 116681,
 116682,
 116683,
 116684,
 116685,
 116686,
 116687,
 116688,
 116689,
 116690,
 116691,
 116692,
 116693,
 116694,
 116695,
 116696,
 116697,
 116698,
 116699,
 116700,
 116701,
 116702,
 116703,
 116704,
 116705,
 116706,
 116707,
 116708,
 116709,
 116710,
 116711,
 116712,
 116713,
 116714,
 116715,
 116716,
 116717,
 116718,
 116719,
 116720,
 116721,
 116722,
 116723,
 116724,
 116725,
 116726,
 116727,
 116728,
 116729,
 116730,
 116731,
 116732,
 116733,
 116734,
 116735,
 116736,
 116737,
 116738,
 116739,
 116740,
 116741,
 116742,
 116743,
 116744,
 116745,
 116746,
 116747,
 116748,
 116749,
 116750,
 116751,
 116752,
 116753,
 116754,
 116755,
 116756,
 116757,
 116758,
 116759,
 116760,
 116761,
 116762,
 116763,
 116764,
 116765,
 116766,
 116767,
 116768,
 116769,
 116770,
 116771,
 116772,
 116773,
 116774,
 116775,
 116776,
 116777,
 116778,
 116779,
 116780,
 116781,
 116782,
 116783,
 116784,
 116785,
 116786,
 116787,
 116788,
 116789,
 116790,
 116791,
 116792,
 116793,
 116794,
 116795,
 116796,
 116797,
 116798,
 116799,
 116800,
 116801,
 116802,
 116803,
 116804,
 116805,
 116806,
 116807,
 116808,
 116809,
 116810,
 116811,
 116812,
 116813,
 116814,
 116815,
 116816,
 116817,
 116818,
 116819,
 116820,
 116821,
 116822,
 116823,
 116824,
 116825,
 116826,
 116827,
 116828,
 116829,
 116830,
 116831,
 116832,
 116833,
 116834,
 116835,
 116836,
 116837,
 116838,
 116839,
 116840,
 116841,
 116842,
 116843,
 116844,
 116845,
 116846,
 116847,
 116848,
 116849,
 116850,
 116851,
 116852,
 116853,
 116854,
 116855,
 116856,
 116857,
 116858,
 116859,
 116860,
 116861,
 116862,
 116863,
 116864,
 116865,
 116866,
 116867,
 116868,
 116869,
 116870,
 116871,
 116872,
 116873,
 116874,
 116875,
 116876,
 116877,
 116878,
 116879,
 116880,
 116881,
 116882,
 116883,
 116884,
 116885,
 116886,
 116887,
 116888,
 116889,
 116890,
 116891,
 116892,
 116893,
 116894,
 116895,
 116896,
 116897,
 116898,
 116899,
 116900,
 116901,
 116902,
 116903,
 116904,
 116905,
 116906,
 116907,
 116908,
 116909,
 116910,
 116911,
 116912,
 116913,
 116914,
 116915,
 116916,
 116917,
 116918,
 116919,
 116920,
 116921,
 116922,
 116923,
 116924,
 116925,
 116926,
 116927,
 116928,
 116929,
 116930,
 116931,
 116932,
 116933,
 116934,
 116935,
 116936,
 116937,
 116938,
 116939,
 116940,
 116941,
 116942,
 116943,
 116944,
 116945,
 116946,
 116947,
 116948,
 116949,
 116950,
 116951,
 116952,
 116953,
 116954,
 116955,
 116956,
 116957,
 116958,
 116959,
 116960,
 116961,
 116962,
 116963,
 116964,
 116965,
 116966,
 116967,
 116968,
 116969,
 116970,
 116971,
 116972,
 116973,
 116974,
 116975,
 116976,
 116977,
 116978,
 116979,
 116980,
 116981,
 116982,
 116983,
 116984,
 116985,
 116986,
 116987,
 116988,
 116989,
 116990,
 116991,
 116992,
 116993,
 116994,
 116995,
 116996,
 116997,
 116998,
 116999,
 117000,
 117001,
 117002,
 117003,
 117004,
 117005,
 117006,
 117007,
 117008,
 117009,
 117010,
 117011,
 117012,
 117013,
 117014,
 117015,
 117016,
 117017,
 117018,
 117019,
 117020,
 117021,
 117022,
 117023,
 117024,
 117025,
 117026,
 117027,
 117028,
 117029,
 117030,
 117031,
 117032,
 117033,
 117034,
 117035,
 117036,
 117037,
 117038,
 117039,
 117040,
 117041,
 117042,
 117043,
 117044,
 117045,
 117046,
 117047,
 117048,
 117049,
 117050,
 117051,
 117052,
 117053,
 117054,
 117055,
 117056,
 117057,
 117058,
 117059,
 117060,
 117061,
 117062,
 117063,
 117064,
 117065,
 117066,
 117067,
 117068,
 117069,
 117070,
 117071,
 117072,
 117073,
 117074,
 117075,
 117076,
 117077,
 117078,
 117079,
 117080,
 117081,
 117082,
 117083,
 117084,
 117085,
 117086,
 117087,
 117088,
 117089,
 117090,
 117091,
 117092,
 117093,
 117094,
 117095,
 117096,
 117097,
 117098,
 117099,
 117100,
 117101,
 117102,
 117103,
 117104,
 117105,
 117106,
 117107,
 117108,
 117109,
 117110,
 117111,
 117112,
 117113,
 117114,
 117115,
 117116,
 117117,
 117118,
 117119,
 117120,
 117121,
 117122,
 117123,
 117124,
 117125,
 117126,
 117127,
 117128,
 117129,
 117130,
 117131,
 117132,
 117133,
 117134,
 117135,
 117136,
 117137,
 117138,
 117139,
 117140,
 117141,
 117142,
 117143,
 117144,
 117145,
 117146,
 117147,
 117148,
 117149,
 117150,
 117151,
 117152,
 117153,
 117154,
 117155,
 117156,
 117157,
 117158,
 117159,
 117160,
 117161,
 117162,
 117163,
 117164,
 117165,
 117166,
 117167,
 117168,
 117169,
 117170,
 117171,
 117172,
 117173,
 117174,
 117175,
 117176,
 117177,
 117178,
 117179,
 117180,
 117181,
 117182,
 117183,
 117184,
 117185,
 117186,
 117187,
 117188,
 117189,
 117190,
 117191,
 117192,
 117193,
 117194,
 117195,
 117196,
 117197,
 117198,
 117199,
 117200,
 117201,
 117202,
 117203,
 117204,
 117205,
 117206,
 117207,
 117208,
 117209,
 117210,
 117211,
 117212,
 117213,
 117214,
 117215,
 117216,
 117217,
 117218,
 117219,
 117220,
 117221,
 117222,
 117223,
 117224,
 117225,
 117226,
 117227,
 117228,
 117229,
 117230,
 117231,
 117232,
 117233,
 117234,
 117235,
 117236,
 117237,
 117238,
 117239,
 117240,
 117241,
 117242,
 117243,
 117244,
 117245,
 117246,
 117247,
 117248,
 117249,
 117250,
 117251,
 117252,
 117253,
 117254,
 117255,
 117256,
 117257,
 117258,
 117259,
 117260,
 117261,
 117262,
 117263,
 117264,
 117265,
 117266,
 117267,
 117268,
 117269,
 117270,
 117271,
 117272,
 117273,
 117274,
 117275,
 117276,
 117277,
 117278,
 117279,
 117280,
 117281,
 117282,
 117283,
 117284,
 117285,
 117286,
 117287,
 117288,
 117289,
 117290,
 117291,
 117292,
 117293,
 117294,
 117295,
 117296,
 117297,
 117298,
 117299,
 117300,
 117301,
 117302,
 117303,
 117304,
 117305,
 117306,
 117307,
 117308,
 117309,
 117310,
 117311,
 117312,
 117313,
 117314,
 117315,
 117316,
 117317,
 117318,
 117319,
 117320,
 117321,
 117322,
 117323,
 117324,
 117325,
 117326,
 117327,
 117328,
 117329,
 117330,
 117331,
 117332,
 117333,
 117334,
 117335,
 117336,
 117337,
 117338,
 117339,
 117340,
 117341,
 117342,
 117343,
 117344,
 117345,
 117346,
 117347,
 117348,
 117349,
 117350,
 117351,
 117352,
 117353,
 117354,
 117355,
 117356,
 117357,
 117358,
 117359,
 117360,
 117361,
 117362,
 117363,
 117364,
 117365,
 117366,
 117367,
 117368,
 117369,
 117370,
 117371,
 117372,
 117373,
 117374,
 117375,
 117376,
 117377,
 117378,
 117379,
 117380,
 117381,
 117382,
 117383,
 117384,
 117385,
 117386,
 117387,
 117388,
 117389,
 117390,
 117391,
 117392,
 117393,
 117394,
 117395,
 117396,
 117397,
 117398,
 117399,
 117400,
 117401,
 117402,
 117403,
 117404,
 117405,
 117406,
 117407,
 117408,
 117409,
 117410,
 117411,
 117412,
 117413,
 117414,
 117415,
 117416,
 117417,
 117418,
 117419,
 117420,
 117421,
 117422,
 117423,
 117424,
 117425,
 117426,
 117427,
 117428,
 117429,
 117430,
 117431,
 117432,
 117433,
 117434,
 117435,
 117436,
 117437,
 117438,
 117439,
 117440,
 117441,
 117442,
 117443,
 117444,
 117445,
 117446,
 117447,
 117448,
 117449,
 117450,
 117451,
 117452,
 117453,
 117454,
 117455,
 117456,
 117457,
 117458,
 117459,
 117460,
 117461,
 117462,
 117463,
 117464,
 117465,
 117466,
 117467,
 117468,
 117469,
 117470,
 117471,
 117472,
 117473,
 117474,
 117475,
 117476,
 117477,
 117478,
 117479,
 117480,
 117481,
 117482,
 117483,
 117484,
 117485,
 117486,
 117487,
 117488,
 117489,
 117490,
 117491,
 117492,
 117493,
 117494,
 117495,
 117496,
 117497,
 117498,
 117499,
 117500,
 117501,
 117502,
 117503,
 117504,
 117505,
 117506,
 117507,
 117508,
 117509,
 117510,
 117511,
 117512,
 117513,
 117514,
 117515,
 117516,
 117517,
 117518,
 117519,
 117520,
 117521,
 117522,
 117523,
 117524,
 117525,
 117526]

In [ ]:
testdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17280 entries, 0 to 17279
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           17280 non-null  int64
 1   date         17280 non-null  datetime64[ns]
 2   store_nbr    17280 non-null  int64
 3   item_nbr     17280 non-null  int64
 4   onpromotion  17280 non-null  bool
 5   oil_price    17280 non-null  float64
 6   day_name     17280 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 827.0+ KB

In [ ]:
holidaysdf.tail(50)

,date,type,locale,locale_name,description,stores_affected,classification,major_holiday
283,2016-12-25,Holiday,National,Ecuador,Navidad,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday,ordinary
284,2016-12-26,Additional,National,Ecuador,Navidad+1,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_additional,ordinary
285,2016-12-31,Additional,National,Ecuador,Primer dia del ano-1,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday_eve,None
286,2017-01-02,Transfer,National,Ecuador,Traslado Primer dia del ano,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday,ordinary
287,2017-02-27,Holiday,National,Ecuador,Carnaval,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday,ordinary
288,2017-02-28,Holiday,National,Ecuador,Carnaval,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday,ordinary
289,2017-03-02,Holiday,Local,Manta,Fundacion de Manta,"[52, 53]",is_holiday,ordinary
290,2017-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,"[12, 13]",is_holiday,ordinary
291,2017-04-13,Transfer,Local,Cuenca,Fundacion de Cuenca,"[37, 39, 42]",is_holiday,ordinary
292,2017-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,[36],is_holiday,ordinary
293,2017-04-14,Holiday,National,Ecuador,Viernes Santo,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday,ordinary
294,2017-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,[14],is_holiday,ordinary
295,2017-05-01,Holiday,National,Ecuador,Dia del Trabajo,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday,ordinary
296,2017-05-12,Holiday,Local,Puyo,Cantonizacion del Puyo,[22],is_holiday,ordinary
297,2017-05-13,Additional,National,Ecuador,Dia de la Madre-1,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday_eve,Madre
298,2017-05-14,Event,National,Ecuador,Dia de la Madre,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday,ordinary
299,2017-05-26,Transfer,National,Ecuador,Traslado Batalla de Pichincha,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday,ordinary
300,2017-06-23,Holiday,Local,Guaranda,Cantonizacion de Guaranda,[19],is_holiday,ordinary
301,2017-06-25,Holiday,Regional,Imbabura,Provincializacion de Imbabura,[15],is_holiday,ordinary
302,2017-06-25,Holiday,Local,Latacunga,Cantonizacion de Latacunga,"[12, 13]",is_holiday,ordinary
303,2017-06-25,Holiday,Local,Machala,Fundacion de Machala,"[40, 41]",is_holiday,ordinary
304,2017-07-03,Holiday,Local,El Carmen,Cantonizacion de El Carmen,[54],is_holiday,ordinary
305,2017-07-03,Holiday,Local,Santo Domingo,Fundacion de Santo Domingo,"[5, 16, 21]",is_holiday,ordinary
306,2017-07-23,Holiday,Local,Cayambe,Cantonizacion de Cayambe,[11],is_holiday,ordinary
307,2017-07-24,Additional,Local,Guayaquil,Fundacion de Guayaquil-1,"[24, 26, 28, 29, 30, 32, 34, 51]",is_holiday_eve,None
308,2017-07-25,Additional,Local,Guayaquil,Fundacion de Guayaquil,"[24, 26, 28, 29, 30, 32, 34, 51]",is_additional,ordinary
309,2017-08-05,Holiday,Local,Esmeraldas,Fundacion de Esmeraldas,[43],is_holiday,ordinary
310,2017-08-11,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday,ordinary
311,2017-08-15,Holiday,Local,Riobamba,Fundacion de Riobamba,[14],is_holiday,ordinary
312,2017-08-24,Holiday,Local,Ambato,Fundacion de Ambato,"[23, 50]",is_holiday,ordinary
313,2017-09-29,Transfer,Local,Ibarra,Fundacion de Ibarra,[15],is_holiday,ordinary
314,2017-10-07,Holiday,Local,Quevedo,Cantonizacion de Quevedo,[33],is_holiday,ordinary
315,2017-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday,ordinary
316,2017-11-02,Holiday,National,Ecuador,Dia de Difuntos,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday,ordinary
317,2017-11-03,Holiday,National,Ecuador,Independencia de Cuenca,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday,ordinary
318,2017-11-06,Holiday,Regional,Santo Domingo de los Tsachilas,Provincializacion de Santo Domingo,"[5, 16, 21]",is_holiday,ordinary
319,2017-11-07,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,[25],is_holiday,ordinary
320,2017-11-10,Holiday,Local,Guaranda,Independencia de Guaranda,[19],is_holiday,ordinary
321,2017-11-11,Holiday,Local,Latacunga,Independencia de Latacunga,"[12, 13]",is_holiday,ordinary
322,2017-11-12,Holiday,Local,Ambato,Independencia de Ambato,"[23, 50]",is_holiday,ordinary
323,2017-12-05,Additional,Local,Quito,Fundacion de Quito-1,"[1, 2, 3, 4, 6, 7, 8, 9, 10, 17, 18, 20, 44, 4...",is_holiday_eve,None
324,2017-12-08,Holiday,Local,Loja,Fundacion de Loja,[38],is_holiday,ordinary
325,2017-12-08,Transfer,Local,Quito,Traslado Fundacion de Quito,"[1, 2, 3, 4, 6, 7, 8, 9, 10, 17, 18, 20, 44, 4...",is_holiday,ordinary
326,2017-12-21,Additional,National,Ecuador,Navidad-4,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday_eve,Navidad
327,2017-12-22,Holiday,Local,Salinas,Cantonizacion de Salinas,[25],is_holiday,ordinary
328,2017-12-22,Additional,National,Ecuador,Navidad-3,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday_eve,Navidad
329,2017-12-23,Additional,National,Ecuador,Navidad-2,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday_eve,Navidad
330,2017-12-24,Additional,National,Ecuador,Navidad-1,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday_eve,Navidad
331,2017-12-25,Holiday,National,Ecuador,Navidad,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_holiday,ordinary
332,2017-12-26,Additional,National,Ecuador,Navidad+1,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",is_additional,ordinary

In [ ]:
testdf.tail(50)

,id,date,store_nbr,item_nbr,onpromotion,oil_price,day_name
17230,128856455,2017-08-31,52,564533,False,48.151379,Thursday
17231,128856487,2017-08-31,52,581078,False,48.151379,Thursday
17232,128856712,2017-08-31,52,759893,False,48.151379,Thursday
17233,128856843,2017-08-31,52,839363,False,48.151379,Thursday
17234,128856857,2017-08-31,52,841842,True,48.151379,Thursday
17235,128856873,2017-08-31,52,847863,False,48.151379,Thursday
17236,128856886,2017-08-31,52,850333,False,48.151379,Thursday
17237,128857177,2017-08-31,52,1036689,True,48.151379,Thursday
17238,128857205,2017-08-31,52,1047679,False,48.151379,Thursday
17239,128857304,2017-08-31,52,1084881,False,48.151379,Thursday
17240,128859912,2017-08-31,53,258396,False,48.151379,Thursday
17241,128859918,2017-08-31,53,261052,False,48.151379,Thursday
17242,128859938,2017-08-31,53,265559,False,48.151379,Thursday
17243,128859956,2017-08-31,53,273528,False,48.151379,Thursday
17244,128860000,2017-08-31,53,314384,False,48.151379,Thursday
17245,128860088,2017-08-31,53,364606,False,48.151379,Thursday
17246,128860160,2017-08-31,53,414353,False,48.151379,Thursday
17247,128860171,2017-08-31,53,414750,False,48.151379,Thursday
17248,128860263,2017-08-31,53,502331,False,48.151379,Thursday
17249,128860345,2017-08-31,53,559870,False,48.151379,Thursday
17250,128860356,2017-08-31,53,564533,False,48.151379,Thursday
17251,128860388,2017-08-31,53,581078,False,48.151379,Thursday
17252,128860613,2017-08-31,53,759893,False,48.151379,Thursday
17253,128860744,2017-08-31,53,839363,False,48.151379,Thursday
17254,128860758,2017-08-31,53,841842,True,48.151379,Thursday
17255,128860774,2017-08-31,53,847863,False,48.151379,Thursday
17256,128860787,2017-08-31,53,850333,False,48.151379,Thursday
17257,128861078,2017-08-31,53,1036689,True,48.151379,Thursday
17258,128861106,2017-08-31,53,1047679,False,48.151379,Thursday
17259,128861205,2017-08-31,53,1084881,False,48.151379,Thursday
17260,128863813,2017-08-31,54,258396,False,48.151379,Thursday
17261,128863819,2017-08-31,54,261052,False,48.151379,Thursday
17262,128863839,2017-08-31,54,265559,False,48.151379,Thursday
17263,128863857,2017-08-31,54,273528,False,48.151379,Thursday
17264,128863901,2017-08-31,54,314384,False,48.151379,Thursday
17265,128863989,2017-08-31,54,364606,False,48.151379,Thursday
17266,128864061,2017-08-31,54,414353,False,48.151379,Thursday
17267,128864072,2017-08-31,54,414750,False,48.151379,Thursday
17268,128864164,2017-08-31,54,502331,False,48.151379,Thursday
17269,128864246,2017-08-31,54,559870,False,48.151379,Thursday
17270,128864257,2017-08-31,54,564533,False,48.151379,Thursday
17271,128864289,2017-08-31,54,581078,False,48.151379,Thursday
17272,128864514,2017-08-31,54,759893,False,48.151379,Thursday
17273,128864645,2017-08-31,54,839363,False,48.151379,Thursday
17274,128864659,2017-08-31,54,841842,False,48.151379,Thursday
17275,128864675,2017-08-31,54,847863,False,48.151379,Thursday
17276,128864688,2017-08-31,54,850333,False,48.151379,Thursday
17277,128864979,2017-08-31,54,1036689,False,48.151379,Thursday
17278,128865007,2017-08-31,54,1047679,True,48.151379,Thursday
17279,128865106,2017-08-31,54,1084881,True,48.151379,Thursday

ciamos esta fun√ß√£o para preencher com as informa√ß√µes do dataset de feriados as linhas nas demais tabelas.

In [ ]:
testdf['classification'] = 'ordinary'
testdf['major_holiday'] = 'ordinary'
for i in range(testdf.shape[0]):
  currentdate = testdf['date'].iloc[i]
  
  if holidaysdf.date[holidaysdf['date'] == currentdate].index.to_list():
    indexof = holidaysdf.date[holidaysdf['date'] == currentdate].index.to_list()[0]
    
    if str(testdf['store_nbr'].iloc[i]) in holidaysdf['stores_affected'].iloc[indexof] :
      testdf['classification'].iloc[i] = holidaysdf['classification'].iloc[indexof]
      testdf['major_holiday'].iloc[i] = holidaysdf['major_holiday'].iloc[indexof]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
transactionsdf['classification'] = 'ordinary'
transactionsdf['major_holiday'] = 'ordinary'
for i in range(transactionsdf.shape[0]):
  currentdate = transactionsdf['date'].iloc[i]
  
  if holidaysdf.date[holidaysdf['date'] == currentdate].index.to_list():
    indexof = holidaysdf.date[holidaysdf['date'] == currentdate].index.to_list()[0]
    
    if str(transactionsdf['store_nbr'].iloc[i]) in holidaysdf['stores_affected'].iloc[indexof] :
      transactionsdf['classification'].iloc[i] = holidaysdf['classification'].iloc[indexof]
      transactionsdf['major_holiday'].iloc[i] = holidaysdf['major_holiday'].iloc[indexof]

In [ ]:
traindf['classification'] = 'ordinary'
traindf['major_holiday'] = 'ordinary'
for i in range(traindf.shape[0]):
  currentdate = traindf['date'].iloc[i]
  
  if holidaysdf.date[holidaysdf['date'] == currentdate].index.to_list():
    indexof = holidaysdf.date[holidaysdf['date'] == currentdate].index.to_list()[0]
    
    if str(traindf['store_nbr'].iloc[i]) in holidaysdf['stores_affected'].iloc[indexof] :
      traindf['classification'].iloc[i] = holidaysdf['classification'].iloc[indexof]
      traindf['major_holiday'].iloc[i] = holidaysdf['major_holiday'].iloc[indexof]

In [ ]:
traindf.classification.value_counts()

ordinary               1502950
is_holiday               56205
is_natural_disaster      27668
is_holiday_eve           26346
is_world_cup             11952
is_additional             3315
is_cyber_monday           2986
is_black_friday           2936
Name: classification, dtype: int64

In [ ]:
traindf.rename(columns={'dcoilwtico':'oil_price'}, inplace=True)
traindf.head(1)

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,oil_price,day_name,classification,major_holiday
0,82,2013-01-01,25,258396,5,False,67.714366,Tuesday,is_holiday,ordinary

In [ ]:
testdf.head(1)

,id,date,store_nbr,item_nbr,onpromotion,oil_price,day_name,classification,major_holiday
0,125497250,2017-08-16,1,258396,False,48.151379,Wednesday,ordinary,ordinary

In [ ]:
transactionsdf.rename(columns={'dcoilwtico':'oil_price'}, inplace=True)
transactionsdf.head(1)

,date,store_nbr,transactions,oil_price,day_name,classification,major_holiday
0,2013-01-01,25,770,67.714366,Tuesday,is_holiday,ordinary

agora vamos cruzar as tabelas de itens com as demais tabelas

In [ ]:
itemsdf.head()

   item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

In [ ]:
list_best_sales = [502331, 314384, 364606, 265559, 559870,1036689,
                   273528 ,564533 ,261052 , 414353 , 1084881 , 839363 , 850333 , 414750 ,
                  847863 , 581078 , 1047679 , 258396 , 759893 , 841842]

separamos apenas os 20 produtos mais vendidos conforme consultamos antes com uma consulta sql

In [ ]:
itemsdf = itemsdf[itemsdf['item_nbr'].isin(list_best_sales)]

In [ ]:
itemsdf.head(50)

      item_nbr         family  class  perishable
212     258396      GROCERY I   1010           0
218     261052      GROCERY I   1072           0
240     265559      GROCERY I   1072           0
259     273528  PERSONAL CARE   4114           0
303     314384      GROCERY I   1004           0
394     364606      GROCERY I   1014           0
470     414353      GROCERY I   1014           0
481     414750      GROCERY I   1072           0
575     502331   BREAD/BAKERY   2702           1
659     559870      GROCERY I   1072           0
670     564533      GROCERY I   1012           0
703     581078       CLEANING   3038           0
937     759893       CLEANING   3032           0
1076    839363      BEVERAGES   1124           0
1090    841842      GROCERY I   1072           0
1109    847863      GROCERY I   1058           0
1122    850333      GROCERY I   1084           0
1425   1036689      GROCERY I   1040           0
1453   1047679      BEVERAGES   1120           0
1556   1084881      GROCERY I   1040           0

In [ ]:
dictfamily = dict(zip(itemsdf.item_nbr, itemsdf['family']))
dictclass = dict(zip(itemsdf.item_nbr, itemsdf['class']))
dictperishable = dict(zip(itemsdf.item_nbr, itemsdf['perishable']))

In [ ]:
traindf['family'] = traindf['item_nbr'].apply(lambda x: dictfamily[x])
traindf['class'] = traindf['item_nbr'].apply(lambda x: dictclass[x])
traindf['perishable'] = traindf['item_nbr'].apply(lambda x: dictperishable[x])
testdf['family'] = testdf['item_nbr'].apply(lambda x: dictfamily[x])
testdf['class'] = testdf['item_nbr'].apply(lambda x: dictclass[x])
testdf['perishable'] = testdf['item_nbr'].apply(lambda x: dictperishable[x])

In [ ]:
testdf.onpromotion = testdf.onpromotion.astype(int)
traindf.onpromotion = traindf.onpromotion.astype(int)

adicionamos as informa√ß√£o de produto as tabelas que utilizaremos em nosso modelo

In [ ]:
testdf.head(1)

,id,date,store_nbr,item_nbr,onpromotion,oil_price,day_name,classification,major_holiday,family,class,perishable
0,125497250,2017-08-16,1,258396,0,48.151379,Wednesday,ordinary,ordinary,GROCERY I,1010,0

In [ ]:
traindf.head(1)

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,oil_price,day_name,classification,major_holiday,family,class,perishable
0,82,2013-01-01,25,258396,5,0,67.714366,Tuesday,is_holiday,ordinary,GROCERY I,1010,0

In [ ]:
from sklearn.preprocessing import OneHotEncoder

criaremos as vari√°veis dummies

In [ ]:
ohe = OneHotEncoder(handle_unknown = 'ignore', sparse=False)
selected = ['day_name' ,	'classification',	'major_holiday',	'family',	'class']
X_ohetrain = traindf[selected]
X_ohetest = testdf[selected]
X_ohetrain = ohe.fit_transform(X_ohetrain)
X_ohetrain = pd.DataFrame(X_ohetrain, columns=ohe.get_feature_names())
X_ohetest = ohe.transform(X_ohetest)
X_ohetest = pd.DataFrame(X_ohetest, columns=ohe.get_feature_names())
selected_from_transctions = ['day_name' ,	'classification',	'major_holiday']
X_ohetransactions = transactionsdf[selected_from_transctions]
X_ohetransactions = ohe.fit_transform(X_ohetransactions)
X_ohetransactions = pd.DataFrame(X_ohetransactions, columns=ohe.get_feature_names())
X_ohetest.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,x0_Friday,x0_Monday,x0_Saturday,x0_Sunday,x0_Thursday,x0_Tuesday,x0_Wednesday,x1_is_additional,x1_is_black_friday,x1_is_cyber_monday,...,x4_1040,x4_1058,x4_1072,x4_1084,x4_1120,x4_1124,x4_2702,x4_3032,x4_3038,x4_4114
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
testdf.day_name.value_counts()

Wednesday    3240
Thursday     3240
Friday       2160
Saturday     2160
Sunday       2160
Monday       2160
Tuesday      2160
Name: day_name, dtype: int64

In [ ]:
def autorename(df):
  new_list = []
  old_list = df.columns 
  for i in (df.columns):
    new_list.append(i[3:])

  dictrename = dict(zip(old_list, new_list))
  df.rename(columns=dictrename, inplace=True)

In [ ]:
autorename(X_ohetrain)
autorename(X_ohetest)
autorename(X_ohetransactions)

criamos ums fun√ß√£o para renomear as vari√°veis

criamos ums fun√ß√£o para renomear as vari√°veis

In [ ]:
X_ohetransactions.head()

,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,is_additional,is_black_friday,is_cyber_monday,is_holiday,is_holiday_eve,is_natural_disaster,is_world_cup,ordinary,Madre,Navidad,None,ordinary
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [ ]:
X_ohetest.head(1)

,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,is_additional,is_black_friday,is_cyber_monday,...,1040,1058,1072,1084,1120,1124,2702,3032,3038,4114
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
X_ohetest.drop('None', inplace=True, axis=1)
X_ohetrain.drop('None', inplace=True, axis=1)
X_ohetransactions.drop('None', inplace=True, axis=1)

dropamos uma das vari√°veis dummies que estava redundante

In [ ]:
traindf.shape

(1634358, 13)

In [ ]:
X_ohetrain.shape

(1634358, 37)

In [ ]:
traindf =pd.concat([traindf,X_ohetrain], axis=1)
traindf.drop(selected, inplace=True, axis=1)

testdf =pd.concat([testdf,X_ohetest],axis=1)
testdf.drop(selected, inplace=True,axis=1)

transactionsdf =pd.concat([transactionsdf,X_ohetransactions],axis=1)
transactionsdf.drop(selected_from_transctions, inplace=True,axis=1)

juntamos o dataset com as vari√°veis dummies ao dataset original e dropamos as vari√°veis de origem

In [ ]:
traindf.head(1)

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,oil_price,perishable,Friday,Monday,...,1040,1058,1072,1084,1120,1124,2702,3032,3038,4114
0,82,2013-01-01,25,258396,5,0,67.714366,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
traindf.to_csv('train_processed.csv',index=False)
testdf.to_csv('test_processed.csv',index=False)
transactionsdf.to_csv('transactions_processed.csv',index=False)

exportamos para darmos continuidade em outra m√°quina